body {
    float: left;
    margin: 0 auto;
    width: 100%;
    background: #eee;
    font-family: calibri;
    font-size: 24px;
}

.header {
    padding: 10px 20px;
    background: #333;
    color: #aaa;
}

a {
    color: #aaa;
    text-decoration: none;
}

.logout {
    float: right;
}

.login {
    float: right;
}

.header a:hover {
    color: #ccc;
}

main {
    padding: 10px 20px;
    color: #333;
}

.introduction {
    text-align: center;
    margin: 150px 0;
}

.introduction h1 {
    margin: 20px 0 5px;
}

.introduction hr {
    width: 300px;
}

.introduction h3 {
    margin: 0 0 20px;
}

.greetings {
    text-align: center;
}

ul {
    list-style-type: none;
    padding-left:0;
}

.sensor {
    padding: 20px;
    border: 1px solid #999;
}

.disconnected {
    background: #ddd;
    color: #aaa;
}

.triggered {
    background: #900;
    color: #eee;
}

.default {
    background: #090;
    color: #eee;
}

.signupbutton {
    margin: 0 auto;
    border: 1px solid #777;
    border-radius: 8px;
    padding: 5px 0 8px;
    width: 120px;
    background: #777;
 }

.signupbutton a {
    color: #eee;
}




