body {
    margin: 0 auto;
    width: 100%;
    background: #333;
    font-family: calibri;
    font-size: 24px;
}

.logincontainer hr {
    margin: 40px auto 30px;
    width: 300px;
}

.logincontainer form input {
    font-size: 16px;
    height: 30px;
    width: 280px;
    margin: 10px 0 0;
    padding: 3px 10px;
}

.submit {
    height: 30px;
    width: 280px;
    margin: 10px auto;
    border: 2px solid #555;
    background: #377;
    color: #eee;
    padding: 3px 10px;
    cursor: pointer;
}

.submit:hover {
    background: #488;
}

.signupbutton {
    text-decoration: none;
}

.signupbutton div {
    width: 100px;
    margin: 0 auto;
    border: 2px solid #555;
    border-radius: 1px;
    padding: 5px 20px; 8px;
    background: #734;
    color: #eee;
    cursor: pointer;
}

.signupbutton div:hover {
    background: #845;
}

.signupmessage {
    padding: 20px 0 0;
}

.header {
    margin: 0;
    padding: 10px 20px;
    color: #aaa;
    height: 30px;
}

.header a {
    color: #aaa;
    text-decoration: none;
}

.logout {
    float: right;
}

.login {
    float: right;
}

.header a:hover {
    color: #ccc;
}

main {
    position: absolute;
    top: 50px;
    height: 530px;
    width: 100%;
    padding: 10px 0;
    color: #333;
    background: #eee;
}

main .introduction {
    text-align: center;
    margin: 180px 0 120px;
}

main .introduction h1 {
    margin: 20px 0 5px;
    font-size: 60px;
}

main .introduction hr {
    width: 300px;
}

main .introduction h3 {
    margin: 0 0 50px;
}

.greetings {
    text-align: center;
}

.logincontainer {
    text-align: center;
}

ul {
    list-style-type: none;
    padding-left:0;
}

.sensor {
    padding: 20px;
    border: 1px solid #999;
}

.disconnected {
    background: #ddd;
    color: #aaa;
}

.triggered {
    background: #900;
    color: #eee;
}

.default {
    background: #090;
    color: #eee;
}

#footer {
    position: absolute;
    top: 600px;
    height: 100px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0 0;
    font-size: 12px;
    color: #eee;
}

#footer div {
    padding: 5px 0 0;
}