<!doctype html>
<html lang="en">
	<head>
		<title>Safehouse | Home</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='safehouse.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                $(".introduction").children().hide();
                $(".introduction").children("h1").fadeIn(700);
                $(".introduction").children("hr").delay(250).fadeIn(700);
                $(".introduction").children("h3").delay(500).fadeIn(700);
                $(".introduction").children(".signupbutton").delay(1500).fadeIn(1000);
            });
        </script>
	</head>
	<body>
        <div class="header">
            <span class="logo">
                <a href="/">
                    Safehouse
                </a>
            </span>
            <span class="login">
                <a href="login">
                    Log In
                </a>
            </span>
        </div>
        <main>
            <div class="introduction">
                <h1>
                    Safehouse
                </h1>
                <hr>
                <h3>
                    Protect your world
                </h3>
                <div class="signupbutton">
                    <a href="register">
                        Sign Up
                    </a>
                </div>
            </div>
        </main>
        
	</body>
</html>