<!doctype html>
<html lang="en">
	<head>
		<title>Safehouse | Home</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='safehouse.css') }}">
	</head>
	<body>
        <div class="header">
            <span class="logo">
                <a href="/">
                    Safehouse
                </a>
            </span>
        </div>
        <main>
            <div class="introduction">
                <h1>
                    Safehouse
                </h1>
                <hr>
                <h3>
                    Protect your world
                </h3>
                <a href="login" class="loginbutton">
                    LOG IN
                </a><br><br>
                <a href="register" class="signupbutton">
                    SIGN UP
                </a>
            </div>
        </main>
        <div id="footer">
            <div>Yingjia Lee | Kevin Lu | Ryan Voong | Jeffrey Wong</div>
            <div>UCLA Computer Science M117</div>
            <div>Fall 2015</div>
        </div>
	</body>
</html>