<!doctype html>
<html lang="en">
    <head>
        <title>Safehouse | Login</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='safehouse.css') }}">
    </head>
    <body>
        <div class="header">
            <span class="logo">
                <a href="/">
                    Safehouse
                </a>
            </span>
            <span class="login">
                <a href="login">
                    Log In
                </a>
            </span>
        </div>
        <main>
            <div class="logincontainer">
                <h2 class="greetings">
                    Log in
                </h2>
                <hr>
                <form action="/login" method="post">
                    <input type=text name=username placeholder="Enter your username"><br>
                    <input type=text name=hashedPassword placeholder="Enter your password"><br>
                    <div class="submit" onclick="javascript:this.parentNode.submit();">LOG IN</div>
                </form>
                <hr>
                <p class="signupmessage">Don't have an account?</p>
                <a href="register" class="signupbutton">
                    <div>
                        Sign Up
                    </div>
                </a>
            </div>
        </main>
        <div id="footer">
            <div>Yingjia Lee | Kevin Lu | Ryan Voong | Jeffrey Wong</div>
            <div>UCLA Computer Science M117</div>
            <div>Fall 2015</div>
        </div>
    </body>
</html>