<!doctype html>
<html lang="en">
	<head>
		<title>Safehouse | Home</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='safehouse.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>
            update();
            function update() {
                $.ajax({
                    type: "GET",
                    url: "{{ url_for('getSensors') }}",
                    contentType: 'application/json;charset=UTF-8',
                    success: function(result) {
                        JSON.parse(result)['sensors'].forEach(function(sensor) {
                            var status;
                            if (sensor['status'] == 0) {
                                status = "default";
                            } else if (sensor['status'] == 1) {
                                status = "triggered";
                            } else {
                                status = "disconnected";
                            }
                            $('[data-sensorID="' + sensor['id'] + '"]')
                                .removeClass("default")
                                .removeClass("triggered")
                                .removeClass("disconnected")
                                .addClass(status);
                        });
                    },
                    complete: function() {
                        setTimeout(update, 1000);
                    }
                });
            }
        </script>
	</head>
	<body>
        <div class="header">
            <span class="logo">
                <a href="/">
                    Safehouse
                </a>
            </span>
            <span class="logout">
                <a href="logout">
                    Log out
                </a>
            </span>
        </div>
        <main>
            <p class="greetings">
                Welcome, {{username}}!
            </p>
            <form action="/register-sensor-to-user" method="post">
                Add Sensor <input type=text name=sensorID placeholder="Sensor ID" autocomplete="off">
                <input type=text name=description placeholder="Description" autocomplete="off">
                <input type=submit value=Add>
            </form>
            <ul class="sensors">
                {% for sensor in sensorsWrapper.sensors %}
                    <li>
                        <div data-sensorID="{{sensor.id}}" class="sensor
                        {% if sensor.status == 0 %}default{% endif %}
                        {% if sensor.status == 1 %}triggered{% endif %}
                        {% if sensor.status == 2 %}disconnected{% endif %}">
                            <span>
                                {{ sensor.description }} ({{ sensor.type }})
                            </span>
                            <span>
                                <form action="/remove-sensor-from-user" method="post">
                                    <input type="hidden" name="sensorID" value="{{sensor.id}}"><div class="ex" onclick="javascript:this.parentNode.submit();">&#10005;</div>
                                </form>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </main>
        <div id="footer">
            <div>Yingjia Lee | Kevin Lu | Ryan Voong | Jeffrey Wong</div>
            <div>UCLA Computer Science M117</div>
            <div>Fall 2015</div>
        </div>
	</body>
</html>