<!doctype html>
<html lang="en">
    <head>
        <title>Safehouse | Sign Up</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='safehouse.css') }}">
    </head>
    <body>
        <div class="header">
            <span class="logo">
                <a href="/">
                    Safehouse
                </a>
            </span>
        </div>
        <main>
            <div class="userformcontainer">
                <h2 class="greetings">
                    Sign up
                </h2>
                <hr>
                <form class="registerform" action="/register" method="post">
                    <input type=text name=username placeholder="Enter your username" autocomplete="off"><br>
                    <input type=password name="hashedPassword0" placeholder="Enter your password"><br>
                    <input type=password name="hashedPassword1" placeholder="Re-enter your password"><br>
                    <div class="submit" onclick="javascript:this.parentNode.submit();">SIGN UP</div>
                </form>
                <hr>
                <p class="alternativemessage">Already have an account?</p>
                <a href="login" class="loginbutton">
                    LOG IN
                </a>
            </div>
        </main>
        <div id="footer">
            <div>Yingjia Lee | Kevin Lu | Ryan Voong | Jeffrey Wong</div>
            <div>UCLA Computer Science M117</div>
            <div>Fall 2015</div>
        </div>
    </body>
</html>